body {
	margin: 10px;
	background-color: lightseagreen;
	font-family: arial;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}

th {
	background-color: lightseagreen;
}

td {
	background-color: lightseagreen;
}

a.statButton:link, a.statButton:visited, a.statButton:active {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #6de;
	padding: 5px;
	border: 1px solid #4bc;
}

a.statButton:hover {
	background-color: #5cd;
}

#form1 {
	padding: 5px;
}
